<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
    </head>
    <body>

      <section>
      <h1>
        <div class="text">
          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>
          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>
          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>

          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>
        </div>
      </h1>
      <div class="shadow">
        <div class="text">
          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>
          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>
          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>

          <div class="letter">
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>n</span>
            &nbsp;
            <span>p</span>
            <span>r</span>
            <span>o</span>
            <span>p</span>
            <span>s</span>
          </div>
        </div>
      </div>
    </section>

    </body>
</html>