name: Deploy to Amazon ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install Dependencies
        run: npm install

      - name: Build Docker Image
        run: docker build -t ${{ github.sha }} .
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1  # Replace with your desired region

      - name: Log in to Amazon ECR
        run: |
          aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 303224671331.dkr.ecr.ap-southeast-1.amazonaws.com


      - name: Build and Push Docker Image
        env:
          GITHUB_SHA_SHORT: ${{github.sha}}
        run: |
          docker build -t 303224671331.dkr.ecr.ap-southeast-1.amazonaws.com/nodejstes:${GITHUB_SHA_SHORT} ./app
          docker tag ${{ github.sha }} 303224671331.dkr.ecr.ap-southeast-1.amazonaws.com/nodejstes:${{ github.sha }}
          docker push 303224671331.dkr.ecr.ap-southeast-1.amazonaws.com/nodejstes:${GITHUB_SHA_SHORT}

      # - name: Push Docker Image to ECR
      #   run: |
      #     docker tag ${{ github.sha }} 303224671331.dkr.ecr.ap-southeast-1.amazonaws.com/nodejstes:${{ github.sha }}
      #     docker push 303224671331.dkr.ecr.ap-southeast-1.amazonaws.com/nodejstes:${{ github.sha }}

    #   - name: Deploy to ECS
    #     run: |
    #       aws ecs update-service --cluster your-cluster-name --service your-service-name --force-new-deployment
